:root{
  --body-bg: hsl(228deg 42% 95%);
  --bg-white: hsl(0deg 0% 100%);
  --text-secondary-clr: hsl(214deg 17% 65%);
  --text-sz-sm: 14px;
  --text-sz-lg: 28px;
  --root-gap: 8px;
  --fw-500: 500;
  --purple:hsl(255, 95%, 68%);
  --orange:hsl(20, 82%, 56%);
  --green:hsl(164, 97%, 40%);
  --blue:hsl(197, 100%, 50%);
}

body {
  background: var(--body-bg);
  padding: 24px;
  font-family: 'Roboto', sans-serif;
}

.summary-box-container ,
.profit-box-container,
.overview-container {
  background: var(--bg-white);
  /* height: 100px; */
  /* width: 300px; */
  padding: 16px;
}

.profit-box-container,
.overview-container {
  margin-top: 24px;
}

.profit-box-sub-text {
color:var(--text-secondary-clr);
margin: 0;
margin-bottom: 16px;
font-size: var(--text-sz-sm);
}

.profit-box-heading {
  font-weight: var(--fw-500);
  margin: 0;
}

.summary-box-time-container {
  display: flex;
  justify-content: space-between;
  color: var(--text-secondary-clr);
}

.summary-box-text {
  color: hsl(218.05deg 18.72% 42.94%);
  margin: 0;
  font-size: var(--text-sz-sm);
  margin-bottom: 4px;
}

.summary-box-number,
.profit-box-number {
  color: hsl(212deg 22.73% 25.88%);
  font-size: var(--text-sz-lg);
  margin: 0;
  font-weight: 500;
  margin-bottom: 8px;
}

.summary-box-spec,
.profit-box-time-container,
.overview-spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profit-box-time-container > p:first-child{
  color:var(--text-secondary-clr);
}

.summary-box-time-container > p ,
.profit-box-time-container > p {
  margin: 6px 0px;
}

.percent-box-container {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--root-gap));
}

/* .summary-box-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
} */

.summary-box-list {
  display: grid;
  gap: calc(3 * var(--root-gap));
  /* grid-template-columns: 1fr 2fr; */
  /* grid-template-columns: 1fr 3fr; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: 1fr 1fr;  */
  grid-template-columns: 1fr;
}

/* >=500px */
@media (min-width: 500px) {
  .summary-box-list {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
  }
}

/* >=1200px */
@media (min-width: 1200px) {
  .summary-box-list {
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
  }
}